@using MVC5Course.Views.Models
@model IEnumerable<AlbumSong>

<table class="table">
    <tr>
        <th>Pista</th>
        <th>Cancion</th>
    </tr>
    @foreach (var item in Model)
    {
        @AlbumHelpers.ListAlbumSong(item)
    }
</table>