@using MVC5Course.Views.Models
@model MVC5Course.Views.Models.Album



<h2>@Model.BandName - @Model.Title, Publicado el @Model.Released.ToString("dd 'de' MMMM, yyyy")</h2>

@{
    Html.RenderPartial("Shared/_AlbumSongTable",@Model.Songs);
}


