@using System.Web.WebPages.Html
@using MVC5Course.Views.Models
@helper ListAlbumSong(HtmlHelper helper, AlbumSong song)
{
    <tr>
        <td> @helper.TextBox("",song.Track)</td>
        <td>
            @song.Title
        </td>
    </tr>
}


