@using System.Web.WebPages.Html
@using MVC5Course.Views.Models
@helper ListAlbumSong(AlbumSong song)
{
    <tr>
        <td> @song.Track</td>
        <td>
            @song.Title
        </td>
    </tr>
}


